html, body {
    margin:0;
    padding:0;
}
body{
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    background-color: #eee;
    color: #444;
    font-size: 75%;
}
a{
    color: #444;
    text-decoration: none;
}
a:focus, a:hover, a:active {
    text-decoration: underline;color:black;
}
p, li {
    line-height: 1.8em;
}
h1, h2 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    margin: 0 0 10px 0;
    letter-spacing:-1px;
}
h1 {
    padding: 0;
    font-size: 2em;
    color: #333;
}
h2 {
    padding-top: 10px;
    font-size:2em;
}
pre {
    font-size: 1.2em;
    line-height: 1.2em;
    overflow-x: auto;
}
div#page {
    width: 100%;
    margin: 0 auto;
    text-align: left;

}
div#container {
    padding: 20px;
}
div#ads {
    clear: both;
    padding: 12px 0 12px 66px;
}
div#footer {
    clear: both;
    color: #777;
    margin: 0 auto;
    padding: 20px 0 40px;
    text-align: center;
}
h2{display:none;}
#resume{margin-left:25%;width:500px;background:yellow;}
ul{list-style-type: none;}
#goose{position:fixed;bottom:5px;margin:0;right:200px;}
#goose ul{list-stlye-type:none;background-color: none;width:150px;height:30px;}
#goose ul li{float:left;margin-left:5px;}

#backto{height:140px;width:30px;}

@import url(http://philipdusel.com/css/slimbox.css);
#expando{height:40px;width:40px;position:absolute;right:0;
 background: url(http://philipdusel.com/images/expando.gif) no-repeat center;}
.tall{border:5px solid green;}

a img{height:90px;}








*
{
    padding: 0;
    margin: 0;
}



body
{
    margin: 10px;
}

p
{
    margin: 0 0 1em 0;
}

section
{
    display: block;
    float: right;
    width: 40%;
    padding: 10px;
    margin: 0;
    border: 2px solid #ddd;
    cursor: pointer;
}

section img
{
    width: 100%;
}

section p
{
    font-weight: bold;
    text-align: center;
    margin: 0;
}

section:-webkit-full-screen
{
    float: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
    background-color: #f00;
}

section:-moz-full-screen
{
    float: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
}

section:-ms-full-screen
{
    float: none;

    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
}

section:-o-full-screen
{
    float: none;

    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
}

section:full-screen
{
    float: none;

    height: 100%;
    padding: 0;
    margin: 0;
    border: 0 none;
}


span.image-caption {
    display: block;
    position: absolute;margin-top:170px;
}
div.caption {

    padding: 12px;
    color: #ccc;
}
div.caption a {
    color: #fff;
}

div.caption-container {
    position: relative;
    clear: left;
    height: 75px;
}
span.image-caption {
    display: block;
    position: absolute;
    width: 550px;
    top: 0;
    left: 0;
}
div.caption {
    padding: 12px;color:red;
}
div.image-title {
    font-weight: bold;
    font-size: 1.4em;
}
div.image-desc {
    line-height: 1.3em;
    padding-top: 12px;color:black;
}
a.thumb {
    padding: 2px;margin-top:5px;
    display: block;
    border: 1px solid #ccc;
}
div.download {
    float: right;
}




