div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 550px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	height: 85px;line-height:23px; 
    width: 180px;
    padding-top: 10px;background:none;margin:0;position:absolute;left:10px;bottom:20px;
}
div.controls a {padding:2px;height:55px;display:inline-block;
}
.prev{text-align:left;background:white;}
.next{text-align;left;background:white;}
div.ss-controls {
	
}
div.nav-controls {
	width:100%;margin:0;
}
div.nav-controls a{
	margin:0;
}
div.slideshow-container {

}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80%; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {

x
}
div.slideshow a.advance-link {

}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {


}
div.download {
	float: right;margin-right:22px;line-height: 32px;
}
div.caption-container {
	position:absolute;bottom:-40px;
	background:none;
	height: 32px;width:100%;text-align:center;
}
span.image-caption {
	display: block;
	position: absolute;
	height: 32px;width:100%;
	color: black;
}
div.caption {
	width:100%;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 22px;
	
}
div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}

#sunnysh{display:none;width:380px;height:100%;position:relative;float:right;z-index:9999;overflow-y:scroll;overflow-x:hidden;margin:0;margin-right:0;padding:0;border-left:1px solid grey;}

#thumbs{background:none;width:390px;margin-right:230px;}
ul.thumbs {margin-top:-13px;width:400px;right:-43px;position:absolute}

ul.thumbs li {
        height:100px;
	float: left;
	padding: 0;
	margin: 4px;
	list-style: none;
}
.caption a{padding-left:13px;}

.caption a:hover{text-decoration:underline;}
a.thumb {
	display: block;
}
ul.thumbs li.selected a.thumb {

}
a.thumb:focus {
	outline: none;
}

div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
