---
#myleftmenu6
---
$primary_back_color:black;
$primary_font_color:white;
$first-color:black;
$second-color:white;
$third-color:purple;
$link-padding:14px;

@mixin link-style {
  $text-decor-underline:underline;
  text-decoration: $text-decor-underline;
}

body, 
html {
  margin:0;
  padding:0;
  font-size: 15px;
}
body, 
html,
button{
  font-family: Arial, Helvetica, sans-serif;
}



  body,html{
    padding:0;margin:0;
}
  body{
    font-family: Helvetica, Arial, Sans-Serif;
}
ul{ list-style-type:none;}  
h1{color:black;font-size:15px;}
.rightfloat{float:right;background:purple;}
.main_contain{
    background:none;
    width:700px;height:900px;
    margin:0 auto;
    padding:0;
    ul{list-style-type:none;background:none;height:900px;margin:100px auto;padding:0;}
    li {background:green;height:120px;width:175px;margin-top:50px;float:left;text-align:center;} 
}



  .caption{background:lightblue;height:50px;line-height:50px;font-size:11px;}
.beanthrow { overflow:hidden; width:150px;height:110px;margin:0 auto;} 

#butter {
width:220%;    
}
a {
  vertical-align: bottom;
}
.header{
  background:orange;
  width:700px;
  height:40px;
  margin:0 auto;
  margin-top:70px;
}
.header ul li {
  float:left; 
  margin-left:100px
}
#logoheader{
  background:orange;
  width:700px;
  height:40px;
  margin:0 auto;
  margin-top:70px;
}
#logo{
  margin-right:10px;
  float:right;
}
#big_image {
    img{width:100%;}
   .positioner{width:700px;margin:0 auto;position:relative}
}
