    height:88%;margin-top:-20px;
  }
}

/*-------------------------------EEEee Media Queries -------------------------*/





.swiper-wrapper{background:white;height:100%;}

#nuzzle{background:none;}


.the_big_div {  /*-- styling for div holding the swiper gallery ---*/
  background:green;
  position: relative;
  margin:0;
  padding:0;
  width: calc(100% - 200px);
  height:100%;
  left: 200px;
  margin-top:0px;
}
 .swiper-container {
   background:blue;
   width: 100%;
 }

  .swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
   /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
   align-items: center;
  }
