---
#myleftmenu6
---
$primary_back_color:black;
$primary_font_color:white;
$first-color:black;
$second-color:white;
$third-color:purple;
$link-padding:18px;

@mixin link-style {
  $text-decor-underline:underline;
  text-decoration: $text-decor-underline;
}

body, 
html {
  margin:0;
  padding:0;
  font-size: 15px;
}
body, 
html,
button{
  font-family: Arial, Helvetica, sans-serif;
}








/*-------------------------------BBB Left Menu -------------------------*/
 #my_left_menu{
  position:fixed;
  margin:0;padding:0;
  left:0;
  top:0;
  bottom:0;
  width:199px;
  border-right:1px solid $second-color;
 }
 .vert_line{
  background:none;
  height:134px;
  width:1px;
  overflow:visible;
  position:relative;float:left;
  border-right:1px solid $second-color;
  margin-left:37px;
  margin-top:0px;
 /* bottom:0px; */
  z-index:99999; 
}
#smellbow{ width:160px; float:right;background:$first-color;}

#my_left_menu{
  $margin-left-general:25px;
  button.accordion{
    width:53px;
    margin-left:$margin-left-general;
  } 
  ul li:nth-child(3) {
    /* padding-top:16px; */width:20px;
  }
  ul{
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    li{
      background:$first-color;
      div.panel a{
        text-indent:0px;
        padding:$link-padding;
        padding-left:0;
        background:none;
        margin-left:0px;
        span:hover{
          font-weight:bold;
        }
      }
      div.panel a:hover{
        text-decoration:none;
      }
      div.panel{
       /* padding-top:40px; */
        background:$first-color;
      }
      .link_top_level{ /*basicly anything not the accordian */
        margin-left:$margin-left-general;
        padding:21px 18px 2px 0px; /* top, right,bottom,left */
        border-bottom:1px solid $first-color; /* to keep rest of the items from jumping around from the border */
        width:41px;
      }
      .link_below_accordion{
        width:25px;
      }

      .link_top_level:hover{
        border-bottom:1px solid black;font-weight:normal;
      }
      .link_top_level.active{
        border-bottom:1px solid black;font-weight:normal;
      }
      a{
        /* margin-left:30px; */
       /* padding:18px 0; */
        display:block;
        text-indent: 0px;
        text-decoration:none;
        color:$second-color;
      }
       
      a span.active{
        text-decoration:none;font-weight:bold;
      }
      a:hover, a:focus {
        text-decoration:none;
      }
    }
    li.logo{
      background:$first-color;      
      a{
        text-indent:0px;
        font-size: 17px;
        padding: 14px 16px; 
      }
      a:hover, a:focus {text-decoration:none;}
    }
  }
}
/*-------------------------------EEE Left Menu -------------------------*/





/*-------------------------------BBB general Accordion styles -------------------------*/
button.accordion {
    background-color:$first-color;
    color:$second-color;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding:18px 0; 
    padding-bottom:2px;
    margin:0;
    margin-top:1px;
    width:150px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom:1px solid $first-color;
}

button.accordion.active, 
button.accordion:hover {
 border-bottom:1px solid $second-color; 
 text-decoration:none;
}

button.accordian:focus {
  border:none;
}   

div.panel {
  padding: 0px;
  background-color: $first-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*-------------------------------EEE general Accordion styles -------------------------*/








/*-------------------------------BBB top Menu -------------------------*/

#myTopnav{
  /*width:calc(100% - 4px);*/
  width:100%;
}

#myTopnav div.panel{
  margin-left:50px; 
/*  border-left:1px solid $second-color; */
}
         
div.panel a.active {
  text-decoration:underline;
}

ul.topnav button.accordion{
  padding:18px;width:100%;
   border-bottom:1px solid $second-color;
  border-top:1px solid $second-color;
}

ul.topnav {border-bottom:1px solid $second-color;}    
    
ul.topnav {
  list-style-type: none; display:none; /* i added to hide top nav until media query--*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:$first-color;
  border-bottom:1px solid $second-color;
  transition: 0.2s ease-out;

  .toggle_spacer{
    display:inline;
    border-bottom:1px solid red;
    height:1px !important;padding:0 !important;
  }
}


ul.topnav li {float: left;}

ul.topnav li a{
  font-family: Arial, Helvetica, sans-serif;
  display:inline-block;
  color:$second-color;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a.borders{
 border-bottom:1px solid $second-color;
}

.last_link_in_accordian{
  border-bottom:1px solid black;border-left:1px solid $second-color;
  padding-bottom:10px;margin-bottom:15px;
}

ul.topnav li .link_below_accordion{
  border-top:1px solid $second-color;margin-top:-1px; /*to avoid borders building up */
}

div.panel .borders{border-left:1px solid $second-color;}

ul.topnav button.accordion{
  /*bottom border is set somewheere else i think shaes style wi th left menu */
}



/* ul.topnav li a:hover {background-color: lightyellow;} */
ul.topnav li.icon {display: none;}
/*-------------------------------EEE top Menu -------------------------*/










 .vert_line{
  background:none;
  height:134px;
  width:1px;
  overflow:visible;
  position:relative;float:left;
  border-right:1px solid $second-color;
  margin-left:37px;
  margin-top:0px;
 /* bottom:0px; */
  z-index:99999; 
}
#smellbow{ width:160px; float:right;background:red;margin-top:-134px;}

#my_left_menu{
  $margin-left-general:25px;
  button.accordion{
    width:53px;
    margin-left:$margin-left-general;
  } 
  ul li:nth-child(3) {
    /* padding-top:16px; */width:20px;
  }
  ul{
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    li{
      background:$first-color;
      div.panel a{
        text-indent:0px;
        padding:$link-padding;
        padding-left:0;
        background:none;
        margin-left:0px;
        span:hover{
          font-weight:bold;
        }
      }
      div.panel a:hover{
        text-decoration:none;
      }
      div.panel{
       /* padding-top:40px; */
        background:$first-color;
      }
      .link_top_level{ /*basicly anything not the accordian */
        margin-left:$margin-left-general;
        padding:21px 18px 2px 0px; /* top, right,bottom,left */
        border-bottom:1px solid $first-color; /* to keep rest of the items from jumping around from the border */
        width:41px;
      }
      .link_below_accordion{
        width:25px;
      }

      .link_top_level:hover{
        border-bottom:1px solid black;font-weight:normal;
      }
      .link_top_level.active{
        border-bottom:1px solid black;font-weight:normal;
      }
      a{
        /* margin-left:30px; */
       /* padding:18px 0; */
        display:inline-block;
        text-indent: 0px;
        text-decoration:none;
        color:$second-color;
      }
       
      a span.active{
        text-decoration:none;font-weight:bold;
      }
      a:hover, a:focus {
        text-decoration:none;
      }
    }
    li.logo{
      background:$first-color;      
      a{
        text-indent:0px;
        font-size: 17px;
        padding: 14px 16px; 
      }
      a:hover, a:focus {text-decoration:none;}
    }
  }
}
/*-------------------------------EEE Left Menu -------------------------*/





/*-------------------------------BBB general Accordion styles -------------------------*/
button.accordion {
    background-color:$first-color;
    color:$second-color;
    cursor: pointer;
    padding:18px 0; 
    padding-bottom:2px;
    margin:0;
    margin-top:1px;
    width:150px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom:1px solid $first-color;
}

button.accordion.active, 
button.accordion:hover {
 border-bottom:1px solid $second-color; 
 text-decoration:none;
}

button.accordian:focus {
  border:none;
}   

div.panel {
  padding: 0px;
  background-color: $first-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*-------------------------------EEE general Accordion styles -------------------------*/








/*-------------------------------BBB top Menu -------------------------*/

#myTopnav{
  border-top:1px solid brown;
}

#myTopnav div.panel{
  margin-left:50px; 
/*  border-left:1px solid $second-color; */
}
         
div.panel a.active {
  text-decoration:underline;
}

ul.topnav button.accordion{
  padding:18px;width:100%;
   border-bottom:1px solid $second-color;
  border-top:1px solid $second-color;
}

ul.topnav {border-bottom:1px solid $second-color;}    
    
ul.topnav {
  list-style-type: none; display:none; /* i added to hide top nav until media query--*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:$first-color;
  border-bottom:1px solid $second-color;
  transition: 0.2s ease-out;

  .toggle_spacer{
    display:inline;
    border-bottom:1px solid red;
    height:1px !important;padding:0 !important;
  }
}


ul.topnav li {
  float: left;
  a.active{
    text-decoration:underline;
  }
}


ul.topnav li a{
  font-family: Arial, Helvetica, sans-serif;
  display:inline-block;
  color:$second-color;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a.borders{
 border-bottom:1px solid $second-color;
}

.last_link_in_accordian{
  border-bottom:1px solid black;border-left:1px solid $second-color;
  padding-bottom:10px;margin-bottom:15px;
}

ul.topnav li .link_below_accordion{
  border-top:1px solid $second-color;margin-top:-1px; /*to avoid borders building up */
}

div.panel .borders{border-left:1px solid $second-color;}

ul.topnav button.accordion{
  /*bottom border is set somewheere else i think shaes style wi th left menu */
}



/* ul.topnav li a:hover {background-color: lightyellow;} */
ul.topnav li.icon {display: none;}
/*-------------------------------EEE top Menu -------------------------*/




/*---BBB Media Queries ------idont know where exactly to put ..but if this is at top ..menu dont show-------------------*/
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
    ul.topnav{
    width:100%;
    display: block;
  }  
  #my_left_menu{display:none;} 
  #my_main_holder{position:absolute;left:0px;margin-top:10px;width: calc(100% - 0px);}
} 

/* Landscape */
@media screen and (orientation:landscape)

and (max-device-width: 680px) {
   ul.topnav{background:green;border:10px solid red;}
}
   

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;  transition: 3s ease-out;

  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:680px) {
  #buffoon{position:absolute;left:0px;margin-top:0px;width: calc(100% - 0px);}
   .swiper-container {
   background:blue;
   width: 100vw; /*shud b 100% */
   height:114%;
 /*  height: 80vh; */
  }
   .swiper-slide img{
   background:white;
   height:auto;   
   width: 90vw; 
   max-width:500px;
  }
  #masterscrollcontainer{
    margin-left:0px;
    width: 100%;
   /* background:orange;*/}
  
}

@media screen and (min-width:680px) {
  .swiper-slide{
    /*max-width: 100px ;*/
  }
  .swiper-container{height:96vh;width:100%;margin-top:0px;}
  .swiper-slide img{
    height:88%;margin-top:-20px;
  }
  #masterscrollcontainer{
    margin-left:200px;
    width: calc(100% - 200px);
   /* background:blue;*/}
  
}

/*-------------------------------EEEee Media Queries -------------------------*/





.swiper-wrapper{background:white;height:100%;}

#nuzzle{background:none;}


.the_big_div {  /*-- styling for div holding the swiper gallery ---*/
  background:$first-color;
  position: relative;
  margin:0;
  padding:0;
  width: calc(100% - 200px);
  height:100%;
  left: 200px;
  margin-top:0px;
}
 .swiper-container {
   width: 100%;
 }

  .swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
   /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
   align-items: center;
  }
