---
#myleftmenu
---
h2{font-size:2em;}
h2.logo{height:50px;background:pink;}

#my_left_menu{
  ul{
    background:yellow;
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    li{
      background:pink;
      height:40px;
      width:100%;
      a{
        display:block;
      }  
    }
    li.logo{
      background:lightblue;
      height:50px;
    }
  }
}
      
