---
#myleftmenu
---



#my_left_menu{
  ul{
    background:brown;
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    li{
      background:white;

      a{
        display:block;
        text-indent: 20px;
        padding:10px 20px;
        text-decoration:none;
        color:black;
      }
      a:hover, a:focus {text-decoration:underline;}
    }
    li.logo{
      background:white;
      height:40px;
      line-height:50px;
      a{
        text-indent:10px;
      }
    }
  }
}
      
