---
#myleftmenu6
---
$primary_back_color:white;
$primary_font_color:black;
$link_padding:18px;

@mixin link-style {
  $text-decor-underline:underline;
  text-decoration: $text-decor-underline;
}


 #my_left_menu{
  position:absolute;
  margin:0;padding:0;
  left:0;
  top:0;
  bottom:0;
  width:199px;
  border-right:1px solid black;
 }

 .vert_line{
  background:none;
  height:134px;
  width:1px;
  overflow:visible;
  position:relative;float:left;
  border-right:1px solid black;
  margin-left:37px;
  margin-top:0px;
 /* bottom:0px; */
  z-index:99999; 
}
 #smellbow{ width:160px; float:right;background:white;}


#my_left_menu{

  ul li:nth-child(3) {
    padding-top:16px;
  }
  ul{
    width:100%;
    margin:0;
    padding:0;
    list-style-type:none;
    li{
      background:$primary_back_color;
      div.panel a{
        text-indent:0px;
        padding:$link_padding;
        padding-left:0;
        background:none;
        margin-left:0px;
        span:hover{
          font-weight:bold;
        }
      }
      div.panel a:hover{
        text-decoration:none;
      }
      div.panel{
       /* padding-top:40px; */
        background:$primary_back_color;
      }
        
      a{
        /* margin-left:30px; */
       /* padding:18px 0; */
        font-size: 15px;
        display:block;
        text-indent: 0px;
        text-decoration:none;
        color:$primary_font_color;
      }
      .link_top_level{
        margin-left:30px;
        padding:2px 58px 30px 10px;
        border-bottom:1px solid black;
        width:50px;
      }
      a.active{
        text-decoration:none;
      }
      a:hover, a:focus {
        text-decoration:none;
      }
    }
    li.logo{
      background:$primary_back_color;      
      a{
        text-indent:0px;
        font-size: 17px;
        padding: 14px 16px; 
      }
      a:hover, a:focus {text-decoration:none;}
    }
  }
}
      

