---
#tilewebsitestyles
---
body {
 background-color:blue
}
.header{
  background-color:red;
  border-bottom:1px solid brown;
  position:fixed;
  width:100%;
  margin:0px;
  height:78px;
  top:0px; 
  text-indent: 102px;
  line-height:110px;
  display:flex;
  justify-content:center;
}

.rightsidebar{
  z-index: 99;
  border:1px solid black;
  background:green;
  width:70px;
  position:fixed;
  right:0;
  top:250px;
  height:100%; 
}
