---
#tilewebsitestyles
---


.header{
  background-color:purple;
  border-bottom:1px solid brown;
  position:fixed;
  width:100%;
  margin:0px;
  height:100px;
  top:0px; 
  text-indent: 102px;
  line-height:110px;
  display:flex;
  justify-content:center;
}
