---
#basicboxes
---
.red-bac {
  background-color:red;
}
.pink-bac {
  background-color:pink;
}
.blue-bac {
  background-color:blue;
}
.lightblue-bac {
  background-color:lightblue;
}
.navy-bac {
  background-color:navy;
}
.green-bac {
  background-color:green;
}
.lightgreen-bac {
  background-color:green;
}
.yellow-bac {
  background-color:yellow;
}
.lightyellow-bac {
  background-color:lightyellow;
}
.brown-bac {
  background-color:brown;
}
.purple-bac {
  background-color:purple;
}
.orange-bac {
  background-color:orange;
}
.grey-bac {
  background-color:grey;
}
.lightgrey-bac {
  background-color:lightgrey;
}
.darkgrey-bac {
  background-color:darkgrey;
}
