---
#basicboxes
---
.widest {
  width:100%;
}
.wide {
  width:50%;
}
.thin {
  width:25%;
}
.tallest {
  height:100%;
}
.tall {
  height:50%;
}
.short {
  height:25%;
}
.fivehundred-height-px {
  height:500px;
}
.fourhundred-height-px {
  height:400px;
}
.threehundred-height-px {
  height:400px;
}
.twohundred-height-px {
  height:400px;
}
.onehundred-height-px {
  height:400px;
}
