---
#debugcolorsbackground
---
.red-background{
  background-color:red;
}
.green-background{
  background-color:green;
}
.yellow-background{
  background-color:yellow;
}
.blue-background{
  background-color:blue;
}
.lightgrey-background{
  background-color:lightgrey;
}
.darkgrey-background{
  background-color:darkgrey;
}
.pink-background{
  background-color:pink;
}
.brown-background{
  background-color:brown;
}
.purple-background{
  background-color:purple;
}
