---
#debugcolors
---
.reddebug{
  color:red;
}
.greendebug{
  color:green;
}
.yellowdebug{
  color:yellow;
}
.bluedebug{
  color:blue;
}
.lightgreydebug{
  color:lightgrey;
}
.darkgreydebug{
  color:darkgrey;
}
.pinkdebug{
  color:pink;
}
.browndebug{
  color:brown;
}
.purpledebug{
  color:purple;
}
