---
#debugcolors
---
.reddebug{
  color:red;
}
.greendebug{
  color:green;
}
.yellowdebug{
  color:yellow;
}
.bluedebug{
  color:blue;
}
.lightgreydebug{
  color:lightgrey;
}
.browndebug{
  color:brown;
}
.purpledebug{
  color:purple;
}
