---
#basicboxes
---

.BasicContainer { 
  height:100%;
  width:100%;
  background-color:red;
  .Left {
    overflow:hidden;
    width:50%;
    float:left;
    padding-left:10px;
    height:100%;
    background-color:blue;
  }
  .Right { 
    overflow:hidden;
    width:50%;
    float:right;
    padding-right:10px;
    height:100%;
    background-color:pink;
  }
  .Top {
    overflow:hidden;
    height:50%;
    width:100%;
    background-color:blue;
  }
  .Bottom { 
    overflow:hidden;
    height:50%;
    width:100%;
    background-color:green;
  }
}


