---
#basicboxes
---

header { 
  .Left {
    overflow:hidden;
    width:50%;
    float:left;
    height:100%;
    background-color:blue;
  }
  .Right { 
    overflow:hidden;
    width:50%;
    float:right;
    height:100%;
    background-color:pink;
  }
  
  .Top {
    overflow:hidden;
    height:50%;
    width:100%;
    background-color:blue;
  }
  .Bottom { 
    overflow:hidden;
    height:50%;
    width:100%;
    background-color:green;
  }
}





main {
  .top {
    width:100%;
    height:50%;
    background-color:green;
  }
  .bottom {
    width:100%;
    height:50%;
    background-color:red;
  }
  .left {
    width:50%;
    float:left;
    height:100%;
    background-color:blue;
  }
  .right { 
    width:50%;
    float:right;
    height:100%;
    background-color:pink;
  }
}
/*-------------------------------------------------*/
/*-------------------------------------------------*/
article.widest {
  height:400px;
  width:100%
}
article.tallest {
  height:100%;
  width:50%
}
